.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}

.disabledDiv {
  cursor: not-allowed;
  pointer-events: all !important;
  color: rgb(222, 222, 222);
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 782px;
    height: 108px;
    text-align: -webkit-center;
    padding-top: 25px;
    margin-left: 15px;
    margin-top: 31px;
}
.dragover {
    border: 5px dashed blue;
}

.card-handle {
    cursor: pointer;
    position: relative;
    margin-left: 10px;
    height: 29px;
    width: 23px;
}

